@electron-backgroundcolor: #2B2E3B;
@electron-color: #9FEAF9;
@electron-text: #4E8CA2;

body, html {
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1.2em;
  background-color: @electron-backgroundcolor;
  color: @electron-text;
  padding: 0;
  margin: 0;
  overflow: auto;
}

a, a:hover, a:visited, a:active, a:focus {
  text-decoration: none;  
  font-weight: bold;
}
a {
  color: @electron-color;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}
a:hover {
  color: lighten(@electron-color, 25%);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
}

.footer {
  position: fixed;
  font-size: 0.5em;
  bottom: 0;
  left: 0;
  right: 0;  
  padding: 20px;
  padding-top: 25px;    
  text-align: center;
  text-transform: uppercase;  
  border-top: 1px solid darken(@electron-backgroundcolor, 2%);
  background-color: fade(lighten(@electron-backgroundcolor, 2%), 95%);
  margin: 0;
  -webkit-transition: background-color 0.5s ease, color 0.2s ease;
  transition: background-color 0.5s ease, color 0.2s ease;
}
.footer:hover {
  color: lighten(@electron-text, 20%);
  background-color: fade(lighten(@electron-backgroundcolor, 2%), 100%);
  -webkit-transition: background-color 0.35s ease;
  transition: background-color 0.35s ease;
}
.footer:hover .fa {
  color: lighten(@electron-text, 35%);
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
}
.footer strong {
   -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
}
.footer:hover strong {
  color: lighten(@electron-text, 35%);
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
}
.footer .fa {
  margin-left: 3px;
  margin-right: 3px;
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
}

#gravatars {
  margin: 64px;
  margin-left: 32px;
  margin-right: 32px;
  text-align: left;
  @media (max-width: 1230px) {
    text-align: center;
  }
}

#gravatar {
  margin: 16px;
  position: relative;  
  background-color: darken(@electron-backgroundcolor, 2%);
  padding: 32px;  
  border-radius: 5px;
  text-align: left;  
  display: inline-block;
  min-width: 290px;
  max-width: 290px;  
  overflow-y: hidden;
  box-shadow: 2px 2px 5px fade(#000, 25%);
  -webkit-transition: box-shadow 0.5s ease, min-width 0.2s ease;

  img#gravatarImage {
    border-radius: 5px;   
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0px 0px 5px #000, -5px 5px 10px fade(#000, 25%);      
  }
  .info {
    position: absolute;
    top: 0px;    
    left: 125px;
    margin-top: 40px;    

    p {
      margin: 0;
      margin-bottom: 8px;
      font-size: 0.65em;
      word-wrap: break-word;
      word-break:break-all;      
    }
  }
}

#gravatar:hover {
  box-shadow: 5px 5px 10px fade(#000, 25%), -5px 5px 10px fade(#000, 25%);
  min-width: 290px;
  max-width: 290px;
  -webkit-transition: box-shadow 0.2s ease, min-width 0.01s ease;
}


.main {
  margin-top: 15px;
  text-align: center;

  h1 {
    color: @electron-color;    
  }  

  p {
    font-size: 0.8em;    
  }

  .svg {
    max-width: 128px;
    max-height: 128px;
    -webkit-transition: filter 1.5s ease;
    transition: filter 1.5s ease; 
  }
  .svg path {
    fill: @electron-color;
    -webkit-transition: fill 1.5s ease, filter 1.5s ease;
    transition: fill 1.5s ease, filter 1.5s ease;    
  }
  .svg:hover {
    filter: drop-shadow(0px 0px 5px lighten(@electron-color, 60%));
    -webkit-transition: filter 0.2 ease;
    transition: filter 0.2s ease;

    path {
      fill: lighten(@electron-color, 25%);
      -webkit-transition: fill 0.2 ease;
      transition: fill 0.2s ease;
    }    
  }
}